<footer>
    <div id="containera">
        <p>
            Coding Ninjas All Rights Reserved
        </p>
        <div>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/users/profile">Profile</a>
            </div>
        </div>
    </div>
</footer>