<header>
    <div id="container1">
        <h1>
            codeial
        </h1>
        <% if(locals.user){ %>
            <div class="container2">
                <h2>
                    <a href="/users/profile">
                        <%= user.name %>
                    </a>
                </h2>
                <h2>
                    <a href="/users/sign-out">Sign Out</a>
                </h2>
            </div>
        <% }else{ %>
            <div class="container2">
                <h2>
                    <a href="/users/sign-in">Sign In</a>
                </h2>
                <h2>
                    <a href="/users/sign-up">Sign Up</a>
                </h2>
            </div>
        <% } %>
    </div>
</header>
